@use 'sass:math';

.c-board {
  display: flex;
  align-items: center;
  justify-content: center;

  &__center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-radius: 8px;
    background-color: rgb(217, 137, 39);
    pointer-events: auto;
  }

  &__direction {
    display: flex;
    position: absolute;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.448);
    border-radius: 8px;
    padding: 16px;

    &.--left {
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      right: calc(100% + 12px);
      top: 16px;
      bottom: 16px;
      min-width: 400px;
      padding-left: 64px;
    }

    &.--right {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      left: calc(100% + 12px);
      top: 16px;
      bottom: 16px;
      min-width: 400px;
      padding-right: 64px;
    }

    &.--top {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
      bottom: calc(100% + 12px);
      left: 16px;
      right: 16px;
      min-height: 300px;
      padding-top: 64px;
    }

    &.--bottom {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      top: calc(100% + 12px);
      left: 16px;
      right: 16px;
      min-height: 300px;
      padding-bottom: 64px;
    }

    .c-card {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }
  }
}
