@use 'sass:math';

.c-board {
  display: flex;
  align-items: center;
  justify-content: center;

  &__center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-radius: 8px;
    background-color: rgb(217, 137, 39);
    pointer-events: auto;
  }

  &__direction {
    display: flex;
    position: absolute;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 16px;

    &.--left {
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      right: calc(100% + 12px);
      top: 16px;
      bottom: 16px;
      min-width: 384px;
      padding-left: 64px;

      .c-board__direction__letter {
        left: 0;
        top: 0;
        bottom: 0;
        width: 48px;
        border-radius: 8px 0 0px 8px;
      }
    }

    &.--right {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      left: calc(100% + 12px);
      top: 16px;
      bottom: 16px;
      min-width: 384px;
      padding-right: 64px;

      .c-board__direction__letter {
        top: 0;
        right: 0;
        bottom: 0;
        width: 48px;
        border-radius: 0 8px 8px 0;
      }
    }

    &.--top {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
      bottom: calc(100% + 12px);
      left: 16px;
      right: 16px;
      min-height: 274px;
      padding-top: 64px;

      .c-board__direction__letter {
        top: 0;
        left: 0;
        right: 0;
        height: 48px;
        border-radius: 8px 8px 0 0;
      }
    }

    &.--bottom {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      top: calc(100% + 12px);
      left: 16px;
      right: 16px;
      min-height: 274px;
      padding-bottom: 64px;

      .c-board__direction__letter {
        bottom: 0;
        left: 0;
        right: 0;
        height: 48px;
        border-radius: 0 0 8px 8px;
      }
    }

    .c-card {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }

    &__letter {
      z-index: 9;
      position: absolute;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-weight: 700;
        color: rgb(255, 140, 0);
        font-size: 20px;
      }
    }
  }
}
