.c-contest {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__backdrop {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__inner {
    position: relative;
    z-index: 1;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    // gap: 16px;
    aspect-ratio: 280/170;
    width: calc(100vw - 32px);
    max-height: 60vh;
    max-width: 960px;
  }

  &__result {
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &.--is-valid {
      color: #22c33d;
    }

    &.--is-invalid {
      color: #ff0000;
    }

    span {
      transform-origin: center bottom;
      display: inline-block;
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: -0.5;
      text-transform: uppercase;
      background-color: #fff;
      padding: 12px 24px;
      border-radius: 999px;
    }
  }
}

.c-contest-map {
  border-radius: 12px;
  background: #8dd0ff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 100%;
    width: 100%;
  }

  path {
    outline: none;
  }

  text {
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5;
    fill: #ff1b67;
    opacity: 0.75;
    text-transform: uppercase;
  }
}
