.c-reserve {
  position: fixed;
  bottom: 64px;
  right: 64px;
  pointer-events: auto;

  &::before {
    --offset: 64px;
    content: '';
    position: absolute;
    z-index: -1;
    height: calc(194px + var(--offset));
    width: calc(304px + var(--offset));
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-color: rgba(217, 137, 39, 0.9);
    transform-origin: bottom right;
    transform: translate(calc(var(--offset) / 2), calc(var(--offset) / 2));
  }

  .c-card {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  }

  > .c-selectable-card {
    position: absolute;
    right: 0;
    bottom: 0;

    @for $i from 1 through 15 {
      &:nth-child(#{$i}) {
        z-index: 15 - $i;
      }
    }

    @for $i from 1 through 15 {
      &:not(:nth-child(1)):not(:nth-child(2)):nth-last-child(#{$i}) {
        .c-card {
          transform: translate(random(3) * 1px, random(3) * 1px)
            rotate(calc(random(6) - 3) * 1deg);
        }
      }
    }
  }
}
