.c-wrapper {
  min-height: 100vh;
  background-color: rgb(255, 176, 80);

  &__drag {
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &__pointer {
      position: absolute;
      z-index: 0;
      display: block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      cursor: grab;
    }

    &__wrap {
      position: absolute;
      left: 50%;
      top: 50%;
      will-change: transform;
      transform-origin: center;
      pointer-events: none;
    }
  }
}
